table{
  margin:auto;
  margin-top: 5%;
  width: 70%;
  height: 40vh;
  justify-content: center;
  border-collapse: collapse;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}



